#chart
  svg(width="800px", height="600px")
    //- shape definitions
    defs
      marker(id="triangle",
        viewBox="0 0 10 10",
        refX="1", refY="5",
        markerWidth="6",
        markerHeight="6",
        orient="auto")
          path(d="M 0 0 L 10 5 L 0 10 z")
          
    //- clusters
    circle(id="techForwardCircle", cx="375", cy="150", r="40")
    circle(id="valueSeekerCircle", cx="650", cy="300", r="28")
    circle(id="basicNeedsCircle", cx="200", cy="275", r="13")
    circle(id="fullServiceCircle", cx="350", cy="475", r="19")  
    
    //- cluster text
    text.clusterText(id="techForwardText", x="375", y="100", text-anchor="middle") Tech Forward
    text.clusterText(id="valueSeekerText", x="650", y="260", text-anchor="middle") Value Seeker    
    text.clusterText(id="basicNeedsText", x="200", y="250", text-anchor="middle") Basic Needs
    text.clusterText(id="fullServiceText", x="350", y="445", text-anchor="middle") Full Service
    
    //- factor arrows
    line#topright(x1="400", y1="300", x2="750", y2="50", stroke="black", stroke-width="2", marker-end="url(#triangle)")
    line#bottomright(x1="400", y1="300", x2="750", y2="475", stroke="black", stroke-width="2", marker-end="url(#triangle)")
    line#topleft(x1="400", y1="300", x2="100", y2="100", stroke="black", stroke-width="2", marker-end="url(#triangle)")
    line#bottomleft(x1="400", y1="300", x2="50", y2="500", stroke="black", stroke-width="2", marker-end="url(#triangle)")
    
    //- companies
    
    //- tbd
